<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/brands.css" integrity="sha384-QT2Z8ljl3UupqMtQNmPyhSPO/d5qbrzWmFxJqmY7tqoTuT2YrQLEqzvVOP2cT5XW" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/fontawesome.css" integrity="sha384-u5J7JghGz0qUrmEsWzBQkfvc8nK3fUT7DCaQzNQ+q4oEXhGSx+P2OqjWsfIRB8QT" crossorigin="anonymous">
    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Primitive UI -->
    <link rel="stylesheet" href="https://unpkg.com/primitive-ui/dist/css/main.css"/>
    <!-- Title -->
    <title>{% block title %}Replace this value.{% endblock %}</title>
    </head>

    <body>
    <!-- Menu -->
        <nav id="menu-wrap" class="menu-back cbp-af-header">
        <div class="menu">
            <a href = "/">Home</div></a>
            <ul>
				<li>
                    <a class="shadow-hover current-shadow" href = "/work">Work</a>
                        <ul>
							<li><a href="">Task 1</a></li>
							<li><a href="">Task 2</a></li>
                            <li><a href="">Task 3</a></li>
                            <li><a href="">Task 4</a></li>
						</ul>
                    <a class="shadow-hover" href = "/blog">Blog</a>
                        <ul>
							<li><a href="">Post 1</a></li>
							<li><a href="">Post 2</a></li>
                            <li><a href="">Post 3</a></li>
                            <li><a href="">Post 4</a></li>
						</ul>
                    <a class="shadow-hover" href = "/resume">Resume</a>
                </li>
            </ul>
        </div>
        </nav>
    <main>
    <div class='conatiner'>
        <div class='row'>
            <div class='col-6 mx-auto'>
                <h3>{{title}}</h3>
                {% block content %}
                Replace this value.
                {% endblock %}
            </div>
        </div>
    </div>
    </main>

    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>