{% extends "base.html" %}

{% block title %}Sammy Mwamburi{% endblock %}

{% block content %}
This is a link to my work as well as tips, tricks, tutorials and everything else I’ve learnt (and am learning) along the way. Enjoy.

<!-- Portfolio -->
<div class="section padding-top-bottom-big" id="top-scroll">
<div class="section">
			<div id="portfolio-filter" class="portfolio-filter">
				<ul id="filter">
					<li><a href="#" class="current" data-filter="*" title="">all <span>5</span></a></li>
					<li><a href="#" data-filter=".vr" title="">Big Data<span></span></a></li>
					<li><a href="#" data-filter=".mobile" title="">Android<span></span></a></li>
                    <li><a href="#" data-filter=".web" title="">Web<span></span></a></li>
					<li><a href="#" data-filter=".physical" title="">Shell Scripting<span></span></a></li>
				</ul>
			</div>

    <div id="projects-grid">
        <a href="project.html" class="tipped" data-title="A Cup - Milk <span>branding</span>"  data-tipper-options='{"direction":"top","follow":"true","margin":30}'>
			<div class="portfolio-box-1 vr">
				<img src="img/1.jpg" alt="">
				<div class="mask"></div>
			</div>
		</a>
        <a href="project.html" class="tipped" data-title="A Cup - Milk <span>branding</span>"  data-tipper-options='{"direction":"top","follow":"true","margin":30}'>
			<div class="portfolio-box-1 vr">
				<img src="img/1.jpg" alt="">
				<div class="mask"></div>
			</div>
		</a>
        <a href="project.html" class="tipped" data-title="A Cup - Milk <span>branding</span>"  data-tipper-options='{"direction":"top","follow":"true","margin":30}'>
			<div class="portfolio-box-1 vr">
				<img src="img/1.jpg" alt="">
				<div class="mask"></div>
			</div>
		</a>
        <a href="project.html" class="tipped" data-title="A Cup - Milk <span>branding</span>"  data-tipper-options='{"direction":"top","follow":"true","margin":30}'>
			<div class="portfolio-box-1 vr">
				<img src="img/1.jpg" alt="">
				<div class="mask"></div>
			</div>
		</a>
        <a href="project.html" class="tipped" data-title="A Cup - Milk <span>branding</span>"  data-tipper-options='{"direction":"top","follow":"true","margin":30}'>
			<div class="portfolio-box-1 vr">
				<img src="img/1.jpg" alt="">
				<div class="mask"></div>
			</div>
		</a>
    </div>
</div>
</div>

<!-- Footer -->
<div class="section footer background-image-cover" style="background-image: url(img/footerbg.jpg);">	
	<div class="container">
		<div class="row">
			<div class="col-md-12 my-4">
				<ul class="footer-social">
					<li>
					<a href="https://www.instagram.com/itssamix/"><i class="fa fa-instagram"></i></a>
					</li>
					<li>
					<a href="https://github.com/mghendi"><i class="fab fa-github"></i></a>
					</li>
					<li>
					<a href="https://www.linkedin.com/in/mwamburi"><i class="fa fa-linkedin"></i></a>
					</li>
					<li>
					<a href="mailto:sam.mwamburi@gmail.com"><i class="fa fa-envelope"></i></a>
					</li>
				</ul>	
			</div>
			<div class="col-md-12 rights my-3">
				<p>2019 © Sammy Mwamburi</p>
			</div>	
		</div>
	</div>	
</div>
{% endblock %}